<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="information-circle-outline"></ion-icon>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="about-container">
    <img src="assets/img/fotoku.png" alt="Foto Profil" class="profile-image" />
    <h2 class="profile-name">Radona Hutabarat </h2>
    <p class="profile-details">NIM: 22090049</p>
    <p class="profile-details">Jurusan: Rekayasa Perangkat Lunak</p>

    <div class="about-description">
      <h3>Tentang Aplikasi</h3>
      <p>
        Aplikasi ini dibuat untuk mempermudah pelanggan dalam memesan kue ulang tahun dengan berbagai pilihan menarik.
        Dengan sistem pemesanan online, pelanggan dapat memilih kue, menentukan jumlah, serta memasukkan detail pengiriman
        dengan mudah. Kami berkomitmen untuk memberikan layanan terbaik dengan kualitas kue yang lezat dan desain yang elegan.
      </p>
    </div>
  </div>
</ion-content>
