<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Tab Home -->
    <ion-tab-button tab="home" href="/app/home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
  
    <!-- Tab Registrasi -->
    <ion-tab-button tab="pembelian-kue" href="/app/pembelian-kue">
      <ion-icon aria-hidden="true" name="cart-outline"></ion-icon>
      <ion-label>Pesan Kue Sekarang</ion-label>
    </ion-tab-button>

    <!-- Tab Data Pendaftar -->
    <ion-tab-button tab="data" href="/app/data">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>Data Pendaftar</ion-label>
    </ion-tab-button>
  
    <!-- Tab About -->
    <ion-tab-button tab="about" href="/app/about">
      <ion-icon aria-hidden="true" name="information-circle-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
