<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="home-container">
    <img src="assets/img/kue.jpeg" alt="Kue Ulang Tahun" class="home-image" />

    <h1 class="home-title">Selamat Datang di Toko Kue Kami!</h1>
    <p class="home-description">
      Nikmati berbagai pilihan kue ulang tahun dengan desain yang menarik dan rasa yang lezat.
      Kami siap mengantarkan pesanan Anda dengan cepat dan tepat waktu.
    </p>

    <ion-button expand="block" routerLink="/pembelian-kue" class="btn-home">
      <ion-icon name="cart-outline"></ion-icon>
      Pesan Sekarang
    </ion-button>

    <ion-button expand="block" routerLink="/data" class="btn-home outline">
      <ion-icon name="list-outline"></ion-icon>
      Lihat Pesanan
    </ion-button>
  </div>
</ion-content>
